<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Download dos arquivos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <button type="button" id="downloadButton" class="btn btn-primary">Efetuar Download dos arquivos</button>
            </div>
            <div class="col-8">
                <button type="button" id="submitted" class="btn btn-primary">Voltar para tela inicial</button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

<script>
    $(document).ready(function () {
        $('#downloadButton').click(function () {
            $.ajax({
                url: '/download', // Endpoint for deleting files
                type: 'GET',
                success: function (response) {
                    // Upon successful deletion, redirect to home page
                    // window.location.href = '/';
                },
                error: function (xhr, status, error) {
                    // console.error('Error deleting files:', error);
                    // Handle the error case here
                }
            });
        });
    });

    $(document).ready(function () {
        $('#submitted').click(function () {
            $.ajax({
                url: '/delete-files', // Endpoint for deleting files
                type: 'POST',
                success: function (response) {
                    // Upon successful deletion, redirect to home page
                    window.location.href = '/';
                },
                error: function (xhr, status, error) {
                    console.error('Error deleting files:', error);
                    // Handle the error case here
                }
            });
        });
    });
</script>

</html>