<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Assinar PDFs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 mt-3">
                <form id="uploadForm" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group">
                            <label for="files">Diretório PDFs </label>
                            <input type="file" name="files" id="directoryInput" webkitdirectory required>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="form-group">
                            <label for="pfxFile">Certificado (arquivo pfx ou p12) </label>
                            <input type="file" name="pfxFile" id="pfxFile" required>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="form-group">
                            <label for="example-input-file">Senha certificado</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                    <div class="spinner-border text-primary hide spinner-upload" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </form>
            </div>
        </div>
        <hr />

        <div class="row">
            <button type="button" class="btn btn-secondary download-button hide">Fazer download dos arquivos</button>
            <div class="spinner-border text-primary hide spinner-download" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <button type="button" class="btn btn-danger reset-button hide">Resetar/Novo</button>
            <div class="spinner-border text-primary hide spinner-reset" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

<style>
    .hide {
        display: none;
    }
</style>

<script>
    function resetFiles() {
        $.ajax({
            url: '/delete-files',
            type: 'GET',
            contentType: false,
            processData: false,
            success: async function (data) {
                if (await data === 'OK') {
                    document.getElementById('directoryInput').value = '';
                    document.getElementById('pfxFile').value = '';
                }
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });
    }

    $(document).ready(function () {
        resetFiles();

        $('#uploadForm').submit(function (e) {
            e.preventDefault();

            $('.spinner-upload').removeClass('hide')

            const formData = new FormData(this);
            const directoryInput = document.getElementById('directoryInput');
            const files = directoryInput.files;

            $.ajax({
                url: '/upload-files',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: async function (data) {
                    if (await data === 'OK') {
                        $('.download-button').removeClass('hide')
                        $('.spinner-upload').addClass('hide')

                    }
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        });

        $('.download-button').click(function () {
            $('.spinner-download').removeClass('hide')

            window.location.href = '/download'

            $('.download-button').addClass('hide')

            $('.reset-button').removeClass('hide')
            $('.spinner-download').addClass('hide')
        })

        $('.reset-button').click(function () {
            resetFiles();

            location.reload();
        })
    });
</script>

</html>